body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

/** For the task list header columns and tasks **/
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.wrap    {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 320px) {

    .flex-container.wrap > div{
        width: 50%;
        max-width: 50%;
        text-overflow: '';
        white-space:nowrap;
        overflow: hidden;
    }

}

@media (min-width: 321px) {
    .flex-container.wrap > div{
        width: 33%;
        max-width: 33%;
        text-overflow: '';
        white-space:nowrap;
        overflow: hidden;
    }
}

@media (min-width: 480px) {
    .flex-container.wrap > div{
        width: 25%;
        max-width: 25%;
        text-overflow: '';
        white-space:nowrap;
        overflow: hidden;
    }
}

@media (min-width: 640px) {
    .flex-container.wrap > div{
        width: 20%;
        max-width: 20%;
        text-overflow: '';
        white-space:nowrap;
        overflow: hidden;
    }
}

@media (min-width: 960px) {
    .flex-container.wrap > div{
        width: 15%;
        max-width: 15%;
        text-overflow: '';
        white-space:nowrap;
        overflow: hidden;
    }
}

.low-pad-item {
    padding: 0;
    margin: 0;
}

.col-header {
    font-weight: bold;
    color: #ef4e3a;
}

.column {
    text-overflow: '';
    white-space:nowrap;
    overflow: hidden;
    max-width: 87%;
    float: left;
    padding: 5px 25px;
}

.col-header > .column {
    padding: 5px 5px;
}

.underlined {
    text-decoration: underline;
}

.column-sort {
    min-width:13%;
    float: right;
    text-align: right;
    padding-right: 2px;
}

thead {
    font-weight: bold;
    color: #ef4e3a;

}

.bar-footer {

    opacity: 0.6;
    filter: alpha(opacity=60);
    -moz-opacity:0.6;

}




